
<footer class="bg-dark text-muted footer mt-auto">
    <div id="social-footer" class="bg-light">
        <a href="https://www.xing.com/profile/Christian_Matt" class="link" target="_blank"><img src="/assets/images/icons/xing.png" alt="Xing" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/christianmatt/" class="link" target="_blank"><img src="/assets/images/icons/linkedin.png" alt="LinkedIn" class="social-icon"></a>
        <a href="https://www.researchgate.net/profile/Christian-Matt" class="link" target="_blank"><img src="/assets/images/icons/researchgate.png" alt="Research Gate" class="social-icon"></a>
        <a href="https://scholar.google.com/citations?user=HSsnJNgAAAAJ&hl=en&oi=ao" class="link" target="_blank"><img src="/assets/images/icons/scholar.png" alt="Google Scholar" class="social-icon"></a>
    </div>
    <div class="p-4">
        <div id="author">
            2022-<span id="year"></span> Christian Matt
        </div>
        <div id="footer-links">
            <a href="/contact.html" class="footer link">Contact</a>
            <a href="/legal.html" class="footer link">Legal Notice</a> |
            Icons by <a href="https://icons8.com/" target="_blank" class="footer link">Icons8</a>
        </div>
    </div>
</footer>
