
<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a href="/" class="navbar-brand nav-link">Christian Matt</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav m-auto navbar-center">
            {% for item in site.data.pages %}
                 <a class=" nav-item nav-link {% if page.url == item.link %}active{% endif %}" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
