
$content-width: 75%;
$content-width-medium-screen: 85%;
$content-width-small-screen: 90%;
$social-footer-padding: 35px;
$social-icon-margin: 12px;
$navbar-toggler-margin: 20px;

* {
  font-family: Helvetica, Georgia, serif ;
}

.navbar-toggler {
  margin-right: $navbar-toggler-margin;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

hr {
  width: 10%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rounded-circle {
  height: 130px;
  width: 180px;
}

.page-heading {
  text-align: center;
}

.page-content {
  margin: 0 auto;
  width: $content-width !important;
}

a.link {
  color:  black !important;
}

a.footer.link {
  color:  #6c757d !important;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: $social-icon-margin;
  margin-left: $social-icon-margin;
}

#social-footer{
  padding-top: $social-footer-padding;
  padding-bottom: $social-footer-padding;
  text-align: center;
}

#author {
  display: inline;
  text-align: left;
}

#footer-links {
  float: right;
  display: inline;
}

#map {
  height: 350px;
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .navbar-center {
    position: relative;
    right: 85px;
  }

  #map {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .navbar-center {
    text-align: center !important;
  }

  .navbar-brand {
    position: relative;
    left: 28px + $navbar-toggler-margin;
  }

  .page-content {
    width: $content-width-medium-screen !important;
  }
}

@media (max-width: 465px) {
  #author {
    display: block;
    margin: auto;
    text-align: center;
  }

  #footer-links {
    display: block;
    float: none;
    margin: auto;
    text-align: center;
  }

  .page-content {
    width: $content-width-small-screen !important;
  }
}

@import "bootstrap/bootstrap";