<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}} - Christian Matt</title>
    {%- include header.html -%}
    <meta itemprop="description" name="description" content="{{ page.description }}" />
    {% seo %}
</head>

<body>
<div class="d-flex flex-column min-vh-100">

    {%- include navbar.html -%}

    <main class="page-content mt-5" aria-label="Content">
        <div class="container-fluid col-md-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="content">
                        <div class="text-center">
                            <img src="/assets/images/example.png" class="rounded-circle" alt="example">
                        </div>
                        <h3 class="page-heading mt-5">{{ page.title }}</h3>
                        <hr>
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</div>
</body>
</html>