<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.title}} | Christian Matt</title>
    {%- include header.html -%}
    <!--<meta itemprop="description" name="description" content="{{ page.description }}" />-->
    {% seo %}
</head>

<body>
<div>

    {%- include navbar.html -%}

    <main class="page-content" aria-label="Content">
        <div class="container-fluid col-md-12">
            <div class="row m-0">
                <div class="col-xl-9">
                    <div class="content">
                        <h1>{{ page.title }}</h1>
                        {{ content }}
                    </div>
                </div>
                <div class="col-xl-3 p-0">
                </div>
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</div>
</body>
</html>